.root{
    -fx-background-color: #607D8B;
    -fx-font-family: Gabriola;
    -fx-font-size: 25px;
}

#header{
    -fx-font-size: 60px;
    -fx-text-fill: #FFFFFF;
}

#label{
    -fx-text-fill: #FFFFFF;
}